 {% extends 'rh_base.html' %}
    {% block js %}


    {% block css %}
<style type="text/css">
    #opcionesAgregar{
       display: none;
    }
     button{
        color: #ffffff;
background-color: #E56814;
border-color: #E27800;
cursor: pointer;
border: 1px solid transparent;
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
    }
     button:hover{
        color: #ffffff;
  background-color: #E27800;
  border-color: #E56814;
    }

    .opcionBuscar{
        cursor: pointer;
    }

    .datoLista{
        cursor: pointer;
    }



</style>
{% endblock %}

    {% endblock %}

    {% block contenido %}
    <h1>Proyectos Atrasados</h1>
     
    


    <div id="mensaje">


    </div>



    



<table id="listaProyecto" class="table table-striped table-hover" value="1">

    <thead>
        <tr>
                <th>Codigo</th> 
                <th>Nombre Proyecto</th>  
                <th>Encargado</th>  
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th></th>
                
        </tr>
  
        
    </thead>
     <tbody class="tabla" id="tabla" value="{{cont}}">
          

        
         {% for proyecto in proyectos %}
           
            {% if proyecto.estado == "Cancelado" %} 
            <tr class="datoLista activo danger" style"cursor: pointer;" id="{{proyecto.codigo}}">
            {% else %}
        <tr class="datoLista activo" style"cursor: pointer;" id="{{proyecto.codigo}}">
        {% endif %}
            <td id="{{proyecto.codigo}}">{{proyecto.codigo}}</td>
            <td id="{{proyecto.nombre}}">{{proyecto.nombre}}</td>
            <td id="{{proyecto.encargado}}">{{proyecto.encargado}}</td>
            <td id="{{proyecto.fecha_inicio|date:'Y-m-d'}}">{{proyecto.fecha_inicio|date:"Y-m-d"}}</td>
            <td id="{{proyecto.fecha_fin_estimada|date:'Y-m-d'}}">{{proyecto.fecha_fin_estimada|date:"Y-m-d"}}</td>
            <td><label  id="" class="enviarActividad btn btn-success btn-sm">
                <i class="fa fa-plus"></i> Actividades
                
            </label></td>
        </tr> 
        {% endfor%}
       
         
    </tbody>
</table>

            

<center id="paginacionDiv">
    <ul class="pagination" value="{{pag}}">
      <li class="paginacionLi" value="-1"><a style="cursor: pointer;">&laquo;</a></li>
       
      <li class="paginacionLi" value="-2"><a style="cursor: pointer;">&raquo;</a></li>
  </ul>
</center>

            



<script type="text/javascript" >

    $(document).ready(function  () {
                function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
      
        $("#listaProyecto").css("display","table");
    });
    

    var dato1="";
    var dato2="";
    var dato3="";

    function agregarForm(){
        $("#opcionesLista").css("display","none");
        $("#opcionesAgregar").css("display","inline-block");
        $("#panelAgregarProyecto").css("display","block");
        $("#panelBuscar").css("display","none");
        $("#listaProyecto").val(1);
        $("#paginacionDiv").css("display","none");


    }

    function agregarLista(){
        $("#lista").css("display","table");
            $("#opcionesLista").css("display","inline-block");
            $("#opcionesAgregar").css("display","none");
            $("#listaProyecto").css("display","table");
            $('#mensaje').css("display","none");
            $("#panelAgregar").css("display","none");
            $("#panelBuscar").css("display","none");
            $("#listaProyecto").val(1);
            $("#paginacionDiv").css("display","block");
    }

    function busqueda(){
        var des=$("#descripcionBus").val();
        $.ajax({
            data : {'descripcion':descripcion},
            url: "{%  url 'buscar_proyecto' %}",
            method : "POST",
            success: function (data){
                console.log(data);
            }
        });
    }

    $("#agregar").click(function() {
        //$("#tituloForm").text("Crear Oferta de Empleo");
        //$("#agregarForm")[0].reset();
        //$("#modificar").css("display","none");
        $("#opcionesLista").css("display","none");
        $("#opcionesAgregar").css("display","inline-block");
        $("#panelAgregarProyecto").css("display","block");
       

        //agregarForm();

    });
    $("#opcionesAgregar").click(function() {
        //$("#tituloForm").text("Crear Oferta de Empleo");
        //$("#agregarForm")[0].reset();
        //$("#modificar").css("display","none");
        $("#opcionesLista").css("display","inline-block");
        $("#opcionesAgregar").css("display","none");
        $("#panelAgregarProyecto").css("display","none");

        //agregarForm();

    });

    $("#cancelar").click(function() {
     
        agregarLista();

    });



        $(".buscarNombre").keyup(function  () {
            dato1=$(this).children().val();
            $(".pagination").val(1);
           
        });

        $(".buscar").change(function  () {
            if($(this).attr("id")==2){
                dato2=$(this).children().val();
                console.log("dato2");
            }else
                if($(this).attr("id")==3)
                    dato3=$(this).children().val(); 
            $(".pagination").val(1);
            
        });
        
        $(".enviarActividad").click(function (){ 
           
            location.href="{% url 'actividad' %}?ID="+$(this).parent().parent().children().attr('id'); 
        });
         $(".datoLista").click(function () {
            if($(this).hasClass("activo")){
                    agregarForm();
                    $("#modificar").css("display","inline-block");
                    $("#tituloForm").text("Modificar Proyecto");
                    $("#agregarForm").attr('action',"{% url 'modificar_proyecto' %}");
                    var info= new Array();

                    $(this).find('td').each(function (index) {
                    info[index]=$(this).attr("id");
                });

                console.log($(this).attr("id"));
                $("#enviar").val($(this).attr("id"));
                $("#nombre_proyecto").val(info[1]);
                $("#encargado").val(info[2]);
                $("#fecha1").val(info[3]);
                $("#fecha2").val(info[4]);
                }
           });

        function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    </script>

    {% endblock %}

