    {% extends 'rh_base.html' %}
    {% block js %}


    {% block css %}
<style type="text/css">
    #opcionesAgregar, #panelBuscar, #panelAgregar {
        display: none;
    }

    .opcionBuscar{
        cursor: pointer;
    }

    .datoLista{
        cursor: pointer;
    }
</style>
{% endblock %}
    {% block contenido %}
    <h1>Bolsa de empleo</h1>
     
    <div id="opcionesLista" class="btn-group">
        <label  id="agregar" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i> Agregar empleado
        </label>
                                     
        
        
    </div>
    
    <div id="opcionesAgregar" class="btn-group">
        
        <label  id="cancelar"  class="btn btn-success btn-sm">
            <i class="fa fa-arrow-left"></i> Atras
        </label>
    </div>

   


    <div id="mensaje">


    </div>



    <div id="panelAgregar">
        <form  id="agregarForm"  role="form">
          {% csrf_token %}
          <legend id="tituloForm" value="" name="id" >Crear Oferta de Empleo</legend>

          <div class="row">         
            <div class="form-group col-lg-6">
                <label for="">Nombre</label>
                <input type="text" name="Nombre" class="form-control" id="nombre" value="{{nombre}}" placeholder="Nombre" required>

            </div>
            <div class="form-group col-lg-6" id="modificar" >
                <label for="">Estado</label>
            <select name="estado"  class="form-control">
                    
                    <option  value="0">Deshabilitar</option>
                    <option  value="1">Habilitar</option>
                   
                </select>
            </div>    
            
        </div>
        <div class="row">  
            <div class="form-group col-lg-6">
                    <label for="">Perfil</label>
                    <textarea  name="Perfil" class="form-control" id="perfil" maxlength="150" value="{{perfil}}" required></textarea>
            </div>
        </div>
        <div class="row">           
            <div class="form-group col-lg-6">
               <label for="">Fecha de Inicio</label>
               <input type="date" data-format="yyyy-MM-dd" name="Fecha1" id="fecha1" value="" class="form-control"  required="required" title="">
           </div>
           <div class="form-group col-lg-6">
             <label for="">Fecha Final</label>
             <input type="date" data-format="yyyy-MM-dd" name="Fecha2" id="fecha2" value="{{fecha2}}" class="form-control"  required="required" title="">
         </div>

     </div>
     <div class="row">
            <div class="col-lg-2">
                <label  id="enviar" class="btn btn-success btn-sm">
                <i class="fa fa-save"></i> Guardar
                </label>
                
            </div>

        </div>
 </form>
</div>



<table id="listaBolsa" class="table table-striped table-hover" value="1">

    <thead>
        <tr>
           
                <th>Nombre</th>    
                <th>Perfil</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                
        </tr>
        <tr>
           
                <th class="buscarNombre" id="1"><input type="text" name="Nombre" class="form-control" id="nombre" value="" placeholder="Nombre" autocomplete="off" required></th>    
                <th ></th>
                <th class="buscar" id="2"><input type="date" data-format="yyyy-MM-dd" name="Fecha1" id="fecha1" value="" class="form-control"  required="required" title=""></th>
                <th class="buscar" id="3"><input type="date" data-format="yyyy-MM-dd" name="Fecha2" id="fecha2" value="" class="form-control"  required="required" title=""></th>
                
        </tr>
    </thead>
     <tbody class="tabla" id="tabla" value="{{cont}}">
          

        
        {% for i in "xxxxxxxxxx" %}
        <tr class="datoLista" style"cursor: pointer;" >
        
            <td id=""></td>
            <td id=""></td>
            <td id=""></td>
            <td id=""></td>
           
        </tr> 
        {% endfor%}
       
       
          
        
    </tbody>
</table>


<center id="paginacionDiv">
    <ul class="pagination" value="{{pag}}">
      <li class="paginacionLi" value="-1"><a style="cursor: pointer;">&laquo;</a></li>
       
      <li class="paginacionLi" value="-2"><a style="cursor: pointer;">&raquo;</a></li>
  </ul>
</center>

<script type="text/javascript" >

    $(document).ready(function  () {
                function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        
        paginacion();
    });
    

    var dato1="";
    var dato2="";
    var dato3="";

    function agregarForm(){
        $("#opcionesLista").css("display","none");
        $("#opcionesAgregar").css("display","inline-block");
        $("#listaBolsa").css("display","none");
        $("#panelAgregar").css("display","block");
        $("#panelBuscar").css("display","none");
        
        $("#listaBolsa").val(1);
        $("#paginacionDiv").css("display","none");


    }

    function agregarLista(){
        $("#lista").css("display","table");
            $("#opcionesLista").css("display","inline-block");
            $("#opcionesAgregar").css("display","none");
            $("#listaBolsa").css("display","table");
            $('#mensaje').css("display","none");
            $("#panelAgregar").css("display","none");
            $("#panelBuscar").css("display","none");
            $("#listaBolsa").val(1);
         
            $("#paginacionDiv").css("display","block");
    }

    $("#agregar").click(function() {
        $("#tituloForm").text("Crear Oferta de Empleo");
        $("#agregarForm")[0].reset();
        $("#modificar").css("display","none");
        $
        agregarForm();

    });

    $("#cancelar").click(function() {
        paginacion();
        agregarLista();

    });



        $(".buscarNombre").keyup(function  () {
            dato1=$(this).children().val();
            $(".pagination").val(1);
            paginacion();
        });

        $(".buscar").change(function  () {
            if($(this).attr("id")==2){
                dato2=$(this).children().val();
                console.log("dato2");
            }else
                if($(this).attr("id")==3)
                    dato3=$(this).children().val(); 
            $(".pagination").val(1);
            paginacion();
        });


        

     

    $('.paginacionLi').click(paginacion);
    function paginacion(){
        var pag;
        try{
            pag=$(this).val(); 
        }catch(errr){
            pag=0;
        }
        var aux=$('.pagination').val();
        if  (aux == ""){
          aux=1;
      }else
      aux=parseInt(aux);

      if(pag=='-1'){
        pag=aux-1;
        if(pag==0)
            pag=1;
    }else{
        if(pag=='-2'){
           pag=(aux+1);
           if(pag>{{cont}})
            pag={{cont}};
    }else{
        pag=aux;
    }
    }
    $('.pagination').val(pag);


    var data={'pag':pag};
    var url="{% url 'empleo' %}";
    var type=   'get';
    if(dato1!="" || dato2!="" || dato3!=""){
        data={'pag':pag,'dato1':dato1,'dato2':dato2,'dato3':dato3};
        url= "{% url 'buscarOferta' %}";
        type= 'get';
    }



    $.ajax({
        data: data,
        url: url,
        type: type,
        success: function (data){
            
            if(data.mensaje==null){
                    
                 $("#listaBolsa").css("display","table");
                 $("#mensaje").css("display","none");
                    $("#tabla").find('tr').each(function(index){
                        
                    $(this).removeClass("activo");
                    $(this).removeClass("danger");

                    if(index<data.length){

                        $(this).addClass("activo");
                        $(this).css("display","table-row");
                        if(!data[index].fields.estadoOferta)
                                    $(this).addClass("danger");
                        $(this).attr("id",data[index].pk)        
                        $(this).find('td').each(function(index2){

                            switch(index2){
                                
                                case 0:
                                $(this).attr("id",data[index].fields.nombre);
                                
                                $(this).text(data[index].fields.nombre);
                                break;
                                case 1:
                                $(this).attr("id",data[index].fields.perfil);
                                $(this).text(data[index].fields.perfil);
                                break;
                                case 2:
                                $(this).attr("id",data[index].fields.fechaInicio);
                                $(this).text(data[index].fields.fechaInicio);
                                break;

                                case 3:
                                $(this).attr("id",data[index].fields.fechaFinal);
                                $(this).text(data[index].fields.fechaFinal);
                                break;

                                

                            }
                        });
                    }else{
                        $(this).removeClass("danger");
                        $(this).css("display","none");
                        /**$(this).find('td').each(function(index2){
                            $(this).attr("id","");
                            $(this).text("");
                            
                        });*/

                    }

            });
        }else{
            $("#listaBolsa").css("display","none");
            $("#mensaje").css("display","inline-block");
            $("#mensaje").html("<h1><p>"+data.mensaje+"</p></h1>");
        }

    }
    });
    }









    $("#enviar").click(function(event){
        
        event.preventDefault();
        var nombre= $("#nombre").val();
        var perfil=$("#perfil").val();
        var fecha1=$("#fecha1").val();
        var fecha2=$("#fecha2").val();
        var url="/reclutamiento/agregarOferta/";
        
        if($("#tituloForm").val()!= "")
            url="/reclutamiento/modificarOferta/?id="+$("#tituloForm").val();

        
        if(nombre!="" && perfil!="" && fecha1!="" && fecha2!=""){
           
            $.ajax({
               type: 'POST',
               data:  $("#agregarForm").serialize(),
               url: url,

               success: function(data){
                var html="";
                if(data.tipo==1){
                    html+="<div class=\"alert alert-success\"><strong>Mensaje</strong>"+data.mensaje+"</div>";
                    $("#fecha1").css('border-color', 'transparent');
                    $("#fecha2").css('border-color', 'transparent');
                    $("#agregarForm")[0].reset();
                }else{

                    html+="<div class=\"alert alert-danger\"><strong>Error!</strong>"+ data.mensaje+"</div>";
                    $("#fecha1").css('border-color', '#cc0000');
                    $("#fecha2").css('border-color', '#cc0000');
                }
                $("#mensaje").html(html);

                $("#mensaje").css("display","inline-block");
                

            }
        });
        }


    });

         $(".datoLista").click(function () {
               if($(this).hasClass("activo")){
                    agregarForm();
                    $("#modificar").css("display","inline-block");
                    $("#tituloForm").text("Modificar Oferta");
                    var info= new Array();

                    $(this).find('td').each(function (index) {
                    info[index]=$(this).attr("id");
                });

                console.log($(this).attr("id"));
                $("#tituloForm").val($(this).attr("id")); 
                $("#nombre").val(info[0]);
                $("#perfil").val(info[1]);
                $("#fecha1").val(info[2]);
                $("#fecha2").val(info[3]);
                }
           });

        function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    </script>

   


    {% endblock %}


