{% extends 'login_base.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css">
{% endblock%}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
{% endblock%}

{% block content %}
	<section>
		<h1>Log In</h1>
		<form action="#">
			{% csrf_token %}
			<div class="user-box">
				<div>
					<i class="fa fa-user"></i>
				</div>
				<input class="login-input" type="text" name="user" placeholder="Nombre de Usuario">
			</div>
			<div class="password-box">
				<div>
					<i class="fa fa-lock"></i>
				</div>
				<input class="login-input" type="password" name="password" placeholder="Contraseña">
			</div>
			<div id="error-message">
			</div>
			<input type="submit" value="Log In">
			<a href="/reestablecer_password">Olvido su contraseña?</a>
		</form>	
	</section>
{% endblock %}