{% extends 'login_base.html'%}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reestablecer_password.css">
{% endblock%}

{% block js%}
	<script type="text/javascript" src="{{ STATIC_URL }}js/reestablecer_password.js"></script>
{% endblock%}

{% block content %}
	<section id="reestablecer_box">
		<h1>Reestablecer Contraseña</h1>
		<form action="#">
			{% csrf_token %}
			<p>Por favor ingrese su usuario. Recibirá una contranseña para poder ingresar al sistema y poder cambiar su contraseña.</p>
			<input type="text" name="user" placeholder="Usuario">
			<div id="error-message"></div>
			<input type="submit" value="Enviar nueva contraseña">
		</form>	
	</section>
{% endblock %}