
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.css">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
</head>
<body>
<header>
	<div class="navbar navbar-inverse"> 
		<div class="container">	
			<div class="navbar-collapse collapse navbar-collapse-02">
				<div class="navbar-brand">
				{% block nombre_modulo%}{% endblock %}
				</div>		
				<ul class="nav navbar-nav navbar-left">
					{% block navegacion %}
					{% endblock %}
				</ul>	
				<ul class="nav navbar-nav navbar-right">
					
				</ul> 
				<!-- --> 
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="../../comunicacion/mensajes/" >
							<i class="fa fa-envelope" id="nmensajes"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" clas="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user"></i> {% block nombre_usuario %}{% endblock %}<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href=""><i class="fa fa-gear"></i> Configuración</a></li>
							<li><a href=""><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
						</ul>
					</li>
				</ul>	  
			</div>      
		</div>
	</div>
</header>

<ul class="sidebar">
	{% block navegacion_lateral %}
		<a href=""></a> 
		<a href=""></a> 
		
		<a href=""></a> 
	{% endblock %}
</ul>

<div class="container">
	<div class="well">
		{% block contenido %}{% endblock %}
		
	</div>
</div>
	
</div>
<footer>
	<div class="container text-center">
		<a href="">ERP</a> |
		<a href="">Soporte</a> |
		<a href="">Contactenos</a>
	</div>
</footer>
</body>



<script type="text/javascript" >

    $(document).ready(function  () {

    	obtener2();
                function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        
    });

    function obtener2(){
        $.ajax({   
            url: "{%  url 'obtener_mensaje' %}",           
            success: function (data){
                $("#nmensajes").text(" "+data.length);
            }
        });
    }

        function getCookie(name) {
	    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
	}

</script>	
</html>
