<h1>Editar Proveedor {{proveedor}}</h1>
<form action="{% url 'editarProveedor' proveedor.codigo %}" method="POST">
	{% csrf_token %}
	<label>Codigo</label>
	<input type="text" name="codigo" placeholder="Codigo" value="{{proveedor.codigo}}" readonly></input type="text">
	<br>
	<label>Nombre</label>
	<input type="text" name="nombre" placeholder="Nombre" value="{{proveedor.nombre}}"></input type="text">
	<br>
	<label>Direccion</label>
	<input type="text" name="direccion" placeholder="Direccion" value="{{proveedor.direccion}}"></input type="text">
	<br>
	<label>Telefono</label>
	<input type="text" name="telefono" placeholder="Telefono" value="{{proveedor.telefono}}"></input type="text">
	<br>
	<label>Estado</label>
	<select name="estado">
		{% if proveedor.estado %}
			<option value="true">Activo</option>
			<option value="false">Inactivo</option>
		{% else %}
			<option value="false">Inactivo</option>
			<option value="true">Activo</option>
		{% endif %}
	</select>
	<br>
	<input type="submit" value="Modificar">
</form>