input[type="email"]
{
	border: 1px #BFBFBF solid;
	margin-bottom: 10px;
	padding: 9px;
	width: 500px;
}

section
{
	width: 700px;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  display: inline-block;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

#error-message
{
	display: none;
	font-size: 13px;
	margin: 0 auto;
	width: 75%;
}

#reestablecer_box input[type="text"]
{
	width: 500px;
}