{% extends 'rh_base.html' %}

<h1>Agregar Solicitud</h1>
<form action="{% url 'agregarSolicitud' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="codigo" placeholder="Codigo"></input type="text">
	<input type="text" name="cliente" placeholder="Cliente"></input type="text">
	<br>
	<input type="text" name="descripcion" placeholder="Descripcin"></input type="text">
	<input type="text" name="estado" placeholder="Estado"></input type="text">
	<br>
	<input type="text" name="fecha" placeholder="Fecha de solicitado"></input type="text">
</form>
