{% extends 'rh_base.html' %}

{% block js %}

{% endblock %}

{% block contenido %}
<h1>Empleados</h1>
<div class="btn-group">
	<label  id="listaBtn" class="btn btn-success btn-sm active">
		<i class="fa fa-list"></i> Lista
	</label>
	<label  id="agregar" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Agregar empleado
	</label>
	<label  id="buscar" href="" class="btn btn-success btn-sm">
		<i class="fa fa-search"></i> Buscar
	</label>
	<label  id="eliminar" href="" class="btn btn-success btn-sm">
		<i class="fa fa-times"></i> Eliminar
	</label>
	<label  id="todo" href="" class="btn btn-success btn-sm">
		<i class="fa fa-check"></i> Seleccionar todo
	</label>
</div>
<table id="lista" class="table table-striped" style="margin-top:15px;">
	<tr>
		<th></th>
		<th>Numero de documento</th>		
		<th>Nombre completo</th>
		<th>Dirección</th>
		<th>Telefono</th>
		<th>Cargo</th>
		<th>Estado</th>
	</tr>
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-success">Activo</span></td>
	</tr>	
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-success">Activo</span></td>
	</tr>	
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-danger">Inactivo</span></td>
	</tr>	
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-success">Activo</span></td>
	</tr>	
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-success">Activo</span></td>
	</tr>	
	<tr>
		<td><input type="checkbox" value="" id="checkbox1" data-toggle="checkbox"></td>
		<td>1049632387</td>
		<td>Sergio Iván Torrado Peñaranda</td>
		<td>Calle 25 #11-33 Apto 304 Edificio Babaro Plaza II</td>
		<td>3138699314</td>
		<td>Ingeniero</td>
		<td><span class="label label-success">Activo</span></td>
	</tr>	

</table>
<center>
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</center>

<script type="text/javascript">
	$("#agregar").click(function() {
		$(this).addClass("active");
		$("#listaBtn").removeClass("active");
		$("#lista").css("display","none");
	});

	$("#listaBtn").click(function() {
		$(this).addClass("active");
		$("#agregar").removeClass("active");
		$("#lista").css("display","table");
	});
</script>
{% endblock %}