<h1>Agregar Tarea</h1>
<form action="{% url 'agregarTarea' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="codigo" placeholder="Codigo"></input type="text">
	<input type="text" name="nombre" placeholder="Nombre Tarea"></input type="text">
	<br>
	<input type="text" name="encargado" placeholder="Encargado"></input type="text">
	<input type="text" name="costo" placeholder="Costo"></input type="text">
	<br>
	<input type="text" name="descripcion" placeholder="Descripcion"></inpuAtencion"text">
	<input type="text" name="fecha_inicio" placeholder="Fecha Inicio"></input type="text">
	<br>
	<input type="text" name="fecha_fin" placeholder="Fecha Fin"></input type="text">
	<input type="text" name="fecha_fin_real" placeholder="Fecha Fin Real"></input type="text">
	<br>
	 <select name="medida">
		<option>Seleccion el estado de la tarea</option>
		<option value="Unidad">En Espera</option>
		<option value="Decena">Resuelto</option>
    	<option value="Docena">No resuelto</option>
   	</select>
    	<br>	
	<input type="submit" value="Agregar">
</form>