{% extends 'rh_base.html' %}

<h1>Agregar Proyecto</h1>
<form action="{% url 'agregarProyecto' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="codigo" placeholder="Codigo"></input type="text">
	<input type="text" name="nombre_proyecto" placeholder="Nombre Proyecto"></input type="text">
	<br>
	<input type="text" name="encargado" placeholder="Encargado"></input type="text">
	<input type="text" name="costo" placeholder="Costo"></input type="text">
	<br>
	<input type="text" name="objetivo" placeholder="Objetivos"></inpuAtencion"text">
	<input type="text" name="fecha_inicio" placeholder="Fecha Inicio"></input type="text">
	<br>
	<input type="text" name="fecha_fin_proyecto_estimado" placeholder="Fecha Fin"></input type="text">
	<br>
	<input type="text" name="fecha_fin_proyecto_real" placeholder="Fecha Fin Real"></input type="text">
	<input type="text" name="estado" placeholder="Estado"></input type="text">
	<br>
	<input type="submit" value="Agregar">
	<input type="submit" value="Agregar Actividad">
</form>
