<h1>Agregar Actividad</h1>
<form action="{% url 'agregarActividad' %}" method="POST">
	{% csrf_token %}
	<input type="text" name="codigo_actividad" placeholder="Codigo"></input type="text">
	<input type="text" name="nombre_actividad" placeholder="Nombre Actividad"></input type="text">
	<br>
	<input type="text" name="encargado_actividad" placeholder="Encargado"></input type="text">
	<input type="text" name="costo_actividad" placeholder="Costo"></input type="text">
	<br>
	<input type="text" name="fecha_inicio_actividad" placeholder="Fecha Inicio"></input type="text">
	<input type="text" name="fecha_fin" placeholder="Fecha Fin"></input type="text">
	<br>
	<input type="text" name="fecha_fin_real" placeholder="Fecha Fin Real"></input type="text">
	<select name="medida">
		<option>Seleccion el tipo de actividad de proyecto</option>
		<option value="Unidad">Administrativa</option>
		<option value="Decena">Atencion</option>
    	<option value="Docena">Otras</option>
   	</select>
    	<br>
	<input type="submit" value="Agregar">
	<input type="submit" value="Agregar Tarea">
</form>