{% if tarea %}
	<h1>Tarea Codigo {{ tarea.codigo }}</h1>
	<form action="#" method="POST">
		{% csrf_token %}
		<label>Nombre</label>
		<input type="text" value="{{ tarea.nombre_tarea }}"></input type="text">
		<br>
		<label>Encargado</label>
		<input type="text" value="{{ tarea.encargado }}"></input type="text">
		<br>
		<label>Costo</label>
		<input type="text" value="{{ tarea.costo }}"></input type="text">
		<br>
		<label>Descripcion</label>
		<input type="text" value="{{ tarea.descripcion }}"></input type="text">
	</form>
{% else %}
	<p>No se a definido ninguna actividad</p>
{% endif %}