{% if actividad %}
	<h1>Actividad Codigo {{ actividad.codigo }}</h1>
	<form action="#" method="POST">
		{% csrf_token %}
		<label>Nombre</label>
		<input type="text" value="{{ actividad.nombre_actividad }}"></input type="text">
		<br>
		<label>Encargado</label>
		<input type="text" value="{{ actividad.encargado }}"></input type="text">
		<br>
		<label>Costo</label>
		<input type="text" value="{{ actividad.costo }}"></input type="text">
		<br>
		<label>Objetivo</label>
		<input type="text" value="{{ actividad.objetivo }}"></input type="text">
	</form>
{% else %}
	<p>No se a definido ninguna actividad</p>
{% endif %}